<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://smartparkath.azurewebsites.net data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link href="css/materialize.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>SmartPARK</title>
</head>
<body ng-cloak>
    <ui-view name="layout"></ui-view>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/materialize.js"></script>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="scripts/angular-ui-router.js"></script>
    <script src="scripts/angular-messages.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>

    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/directives/loaderDirective.js"></script>
    <script src="scripts/app/common/accountService.js"></script>
    <script src="scripts/app/common/globalLoadingService.js"></script>
    <script src="scripts/app/common/loadingContentService.js"></script>
    <!--<script src="scripts/app/common/backButtonManager.js"></script>-->
    <script src="scripts/app/common/notificationsService.js"></script>
    <script src="scripts/app/common/apiFactory.js"></script>
    <script src="scripts/app/common/httpRequestInterceptorFactory.js"></script>
    <script src="scripts/app/common/localStorageFactory.js"></script>
    <script src="scripts/app/common/baseCtrl.js"></script>
    <script src="scripts/app/controllers/aboutCtrl.js"></script>
    <script src="scripts/app/controllers/forgotCtrl.js"></script>
    <script src="scripts/app/controllers/homepageCtrl.js"></script>
    <script src="scripts/app/controllers/layoutCtrl.js"></script>
    <script src="scripts/app/controllers/settingsCtrl.js"></script>

    <script src="scripts/app/index.js"></script>


    <script id="templates/layout.html" type="text/ng-template">
        <nav class="side-menu-smart-blue">
            <ul id="slide-out" class="side-nav side-menu-smart-blue">
                <li>
                    <div class="row side-menu-logo" style="margin-bottom:0">
                        <div class="col s8">
                            <img src="../images/logo_white.png" />
                        </div>
                    </div>
                </li>
                <div ng-if="layout.getUserContext().loggedIn===true">
                    <li class="item">
                        <b>Witaj, {{layout.getUserContext().userName}}</b>
                        <div class="border-bottom-fixed"></div>
                    </li>
                    <li class="item">
                        <a ui-sref="app.homepage">Home</a>
                        <div class="border-bottom-fixed"></div>
                    </li>
                    <li class="item">
                        <a ui-sref="app.settings">Ustawienia</a>
                        <div class="border-bottom-fixed"></div>
                    </li>
                    <li class="item" ng-click="layout.logout()">
                        <i class="icon ion-android-exit"></i>Wyloguj
                        <div class="border-bottom-fixed"></div>
                    </li>
                </div>
                <div ng-if="layout.getUserContext().loggedIn===false">
                    <li class="item">
                        <a ui-sref="app.homepage">
                            <i class="material-icons">&#xE88A;</i>
                            Home
                        </a>
                        <div class="border-bottom-fixed"></div>
                    </li>
                    <li class="item">
                        <a ui-sref="app.forgot">
                            <i class="material-icons">&#xE898;</i>
                            Zapomniane hasło
                        </a>
                        <div class="border-bottom-fixed"></div>
                    </li>
                </div>
                <li class="item">
                    <a ui-sref="app.about"><img src="../images/smartpark-mini.png" style="margin-left: 7px;" />O aplikacji</a>
                    <div class="border-bottom-fixed"></div>
                </li>
                <li class="item">
                    <a><img src="../images/swipe-icon-left.png" style="margin-right:15px" /> Przesuń, aby zwinąć</a>

                    <div class="border-bottom-fixed"></div>
                </li>
                <li>
                    <div class="sidenav-copyright"><span class="copyright-sign">&copy;</span><br />copyright smartPARK</div>

                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse">

                <img src="../images/swipe-icon.png" />przesuń, aby rozwinąć
                <i class="material-icons">&#xE5D2;</i>
            </a>
        </nav>
        <ui-view name="content"></ui-view>
    </script>

    <!--############################# HOMEPAGE VIEW ###############################-->
<script id="templates/home.html" type="text/ng-template">
        <div class="row valign">
            <div class="col s8 offset-s2" style="margin-top:70px">
                <img src="../images/logo_white.png" />
            </div>
            <div class="col s12">
                <div ng-form name="form">
                    <div class="card white" id="login-section">
                        <div class="card-content grey-text text-darken-3">
                            <p class="card-title"><img src="../images/Lock_logo.png" />LOGOWANIE</p>
                            <p class="center-align">zaloguj się do aplikacji</p>

                            <div class="input-field">
                                <input type="email" id="email" name="email" ng-model="email" required />
                                <label for="email">Adres email</label>
                                <span ng-messages="form.email.$error" ng-show="form.email.$touched" class="ng-messages-errors">
                                    <span ng-message="email">Wartość nie jest prawidłowym adresem email.</span>
                                    <span ng-message="required">Adres email jest wymagany.</span>
                                </span>
                            </div>

                            <div class="input-field margin-bottom-20">
                                <input type="password" id="password" name="password" ng-model="password" required />
                                <label for="password">Hasło</label>
                                <span ng-messages="form.password.$error" ng-show="form.password.$touched" class="ng-messages-errors">
                                    <span ng-message="required">Hasło jest wymagane.</span>
                                </span>
                            </div>
                            <div class="row">
                                <button class="btn waves-effect waves-light right" ng-disabled="form.$invalid || home.isGlobalLoadingOn() == true" ng-class="{'disabled':form.$invalid || home.isGlobalLoadingOn() == true}" ng-click="home.login(email,password)">
                                    Zaloguj
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                            <div class="row" style="margin-bottom:5px">
                                <loader loadname="loginLoading"></loader>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </script>

    <!--############################# ABOUT VIEW ###############################-->
    <script id="templates/about.html" type="text/ng-template">
        About
    </script>

    <!--############################# SETTINGS VIEW ###############################-->
    <script id="templates/settings.html" type="text/ng-template">
        Settings
    </script>

    <!--############################# FORGOT PASSWORD VIEW ###############################-->
    <script id="templates/forgot.html" type="text/ng-template">
        Forgot password
    </script>
</body>
</html>
